/*GENERALES */

html {

	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth !important;
}



a{
	text-decoration: none; 
}

body{
	font-size: 16px;
	 font-family: 'Cardo', serif;
	background-color: #2F2F2F !important;
}

.show{
	visibility: visible;
	font-size: 4rem;
	margin-top: 2rem;
}

/* FIN GENERALES */